html,
body {
  margin: 0;
  padding: 0;
  max-height: 100%;
}

body {
  background: #ffce31 !important;
  overflow: hidden;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

$spaceamounts: (34);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.nav-tabs {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: nowrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: nowrap;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 6px solid #818181;
  padding-bottom: 1px;
}
.nav-item > a {
  width: max-content;
}

.vertical-center {
  margin: auto 0;
}

.font-20 {
  font-size: 2rem;
}

.rounded-button {
  width: auto;
  border-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.fab-container {
  position: fixed;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: auto;
}

.left-20 {
  left: 20%;
}
.right-20 {
  right: 20%;
}
